@model Aicl.Liebre.Model.DiagnosticoInfoResponse
@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}
<div class="s-header">
    <table class="tb-s-header">
    	<thead>
			<tr>
				<th>Logo de la Empresa</th>
				<th><h1>Nombre de la Empresa</h1></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
    </table>
</div>
<div class="header">
    <table class="tb-header">
    	<thead>
			<tr>
				<th><h2>@Model.Empresa.Nombre</h2></th>
			</tr>
			<tr>
				<th><span>@Model.Empresa.Nit</span></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
    </table>
</div>
<div class="content">
	<table class="tb-min tb-index">
		<thead>
			<tr>
				<th>Capítulo</th>
				<th>Resultado</th>
			</tr>
		</thead>
		<tbody>
		@foreach(var capitulo in Model.Capitulos){
			var totalQ=capitulo.TotalQ;
			var totalR = capitulo.TotalR;
			var estado= totalR>=totalQ?"green":"red";
			<tr>
				<td>@capitulo.Numeral  @capitulo.Titulo</td>
				<td><button fab @estado>@totalR/@totalQ</button></td>
			</tr>
		}
		</tbody>
	</table>
   	<div style="width:100%">
		<canvas id="canvas" style="height:550px; width:550px"></canvas>
	</div>
	<script>
	var labels=[];
	var data1=[];
	var data2=[]
	@foreach(var c in Model.Capitulos)
	{
	@:labels.push( @Html.Raw(Json.Encode( c.Titulo)) );
	@:data2.push( @c.TotalQ );
	@:data1.push( @c.TotalR );
	}
	var radarChartData = {
	    
		labels: labels,
		datasets: [
			{
				label: "Total",
				fillColor: "rgba(220,220,220,0.2)",
				strokeColor: "rgba(220,220,220,1)",
				pointColor: "rgba(220,220,220,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(220,220,220,1)",
				data: data1
			},
			{
				label: "Cumplidas",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1)",
				pointColor: "rgba(151,187,205,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: data2
			}
		]
	};
	window.onload = function(){
	    Chart.defaults.global.animation= false;

		window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
			responsive: true
		});
		var body = document.querySelector("body");
		body.setAttribute("_ready", "true");

	}
	</script>
</div>